* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #24252A;
}

.header-title, .nav-link-child {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #edf0f1;
}

.header-title {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 70px;
    margin-right: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-icons {
    transition: all 0.3s ease 0s;
}

.nav-icons:hover {
    color: #FF4B2B;
}

.sign-in {
    background-color: #FF4B2B;
    padding: 0.75rem;
    border-radius: 2rem;
}

.vote-btn {
    border: none;
    background: none;
    width: 1rem;
}