* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

main {
    margin-top: 5vh;
}

li {
    list-style: none;
    padding: 0.4rem;
}

a {
    text-decoration: none;
    color: black;
}

.main-wrapper {
    width: 70vw;
}

.posts-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.complete-posts-wrapper {
    width: fit-content;
}

.complete-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.post-container {
    display: flex;
    align-items: baseline;
    background-color: rgb(243, 241, 241);
    margin: 0 0 0.75rem;
    width: 50vw;
    padding: 0.85rem;
    border-radius: 0.25rem;
    transition: 5ms ease-in;
}

.vote {
    text-align: center;
}

.vote-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    align-items: center;
}

.vote-count {
    font-size: 0.85rem;
}

.vote-btn:hover {
    cursor: pointer;
}

.vote-icon {
    color: black;
    font-size: 1.2rem;
}

.fa-thumbs-up:hover {
    color: #f36e54;
}

.fa-thumbs-down:hover {
    color: #1b18dd;
}

.post {
    display: flex;
    flex-direction: column;
    padding: 0.85rem;
    width: 100%;
}

.post-child {
    margin: 5px;
}

.post-title {
    font-weight: bold;
    font-size: 1.2rem;
    word-break: break-all;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-title > a {
    width: 80%;
}
.post-title > span {
    font-size: 0.8rem;
    font-weight: lighter;
    background-color: greenyellow;
    padding: 5px;
    border-radius: 10px;
}

.post-content {
    font-size: 14px;
}

.post-extras {
    display: flex;
    align-items: center;
}

.comment, .search-btn {
    background-color: #f36e54;
    width: fit-content;
    padding: 0.4rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease 0s;
}

.search-btn {
    border: none;
    padding: 0.6rem;
    width: 2.5rem;
    margin-left: 5px;
    color: white;
    font: inherit;
    cursor: pointer;
}

.comment:hover {
    background-color: #e75b42;
}

.comment-link {
    display: flex;
    padding: 0.25rem;
}

.comment-text {
    font-size: 12px;
    margin-left: 10px;
}


.comment-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.poster-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    margin-left: 10px;
}

.side-content {
    background-color: rgb(243, 241, 241);
    margin-left: 0.75rem;
    margin-top: 52px;
    border-radius: 0.25rem;
    position: sticky;
    padding: 1rem;
    height: 350px;
    width: 250px;
}

.side-content > ul > li {
    font-size: 1.5rem;
    text-align: center;
}

.post-fab {
    background-color:#f36e54;
    border-radius:2rem;
    border:none;
    outline:none;
    color:#FFF;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;
    position: fixed;
    right:0;
    bottom:0;
    margin: 50px;
    cursor: pointer;
    z-index: 1000;
    padding: 1.25rem;
}

.post-fab div {
    display: flex;
    align-items: center;
}

.post-fab div span {
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
}

.post-fab:hover {
    background-color: #e75b42;
}

.body-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    /* width: 100%; */
}

.search-bar > input {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    padding: 0.5rem;
    font: inherit;
    align-items: center;
    width: 100%;
}

.category-chip {
    width: fit-content;
    background-color: rgb(243, 241, 241);
    border-radius: 20px;
    padding: 0.5rem;
    margin-right: 10px;
    cursor: pointer;
}

.category-chip:hover {
    background-color: rgb(218, 218, 218);
}
.category-wrapper {
    display: flex;
    overflow: scroll;
    width: 50vw;
    margin-bottom: 20px;
}

.category-wrapper::-webkit-scrollbar {
    display: none;
}