* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

main {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
    padding: 0.5rem;
}

a {
    text-decoration: none;
}

.complete-post {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 20px; */
}

.post-container {
    display: flex;
    align-items: baseline;
    background-color: rgb(253, 121, 98);
    color: rgb(255, 255, 255);
    margin: 0 0 2rem;
    width: 70vw;
    padding: 1rem;
    border-radius: 0.75rem;
}

.vote {
    text-align: center;
}

.vote-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    align-items: center;
}

.vote-icon {
    color: black;
    font-size: 1.35rem;
}

/* .fa-thumbs-up:hover {
    color: #f36e54;
}

.fa-thumbs-down:hover {
    color: #1b18dd;
} */

.post {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    width: 100%;
}

.post-child {
    margin: 5px;
}

.post-title {
    font-weight: bold;
    font-size: 1.2rem;
}

.post-content {
    font-size: 14px;
}

.post-extras {
    display: flex;
    align-items: center;
}

.comment {
    background-color: #f36e54;
    width: fit-content;
    padding: 0.4rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease 0s;
}

.comment:hover {
    background-color: #e75b42;
}

.comment-link {
    display: flex;
    padding: 0.25rem;
}

.comment-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.poster-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    /* margin-left: 10px; */
}

.comment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0 0 0.75rem;
}

.comment-content {
    display: flex;
    flex-direction: column;
    width: 70vw;
    padding: 1.5rem;
    background-color: rgb(243, 241, 241);
    border-radius: 0.75rem;
}

.comment-time {
    font-size: 13px;
}

.commentor {
    display: flex;
    justify-content: space-between;
}

.comment-author {
    font-weight: 600;
    font-size: 15px;
}

.comment-content-child {
    margin: 5px;
}

.comment-text {
    font-size: 14px;
}

.comment-box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.mark-as-answer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.mark-as-answer i {
    color: green;
}

.mark-as-answer div {
    font-weight: 800;
    margin-left: 10px;
}

.comment-box {
    width: 70vw;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    margin-bottom: 0.5rem;
    resize: none;
}

.comment-box-form {
    display: flex;
    flex-direction: column;
}

.post-comment-btn {
    width: 5rem;
    height: 2rem;
    margin-bottom: 1rem;
    border: none;
    background-color: rgb(253, 121, 98);
    color: white;
    border-radius: 0.75rem;
    cursor: pointer;
}

.post-comment-btn:hover {
    background-color: rgb(233, 104, 81);
    transition: background-color 100ms linear;
}

.post-vote-counter {
    color: black;
}

.post-delete-btn {
    margin: 20px 0 0;
}