.post-question-container {
    display: flex;
    flex-direction: column;
    /* width: 50vw; */
    /* justify-content: center; */
    align-items: center;
    height: 70vh;
    margin-top: 10rem;
}

.question-child {
    margin: 15px;
}

.q-title {
    padding: 0.5rem;
    /* border: 5px; */
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

.q-text {
    width: 40%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

.q-btn {
    border: none;
    background-color: #FF4B2B;
    padding: 0.75rem;
    border-radius: 2rem;
    color: white;
    width: 100px;
    cursor: pointer;
    transition: 0.3s ease;
}

.q-btn:hover:enabled {
    background-color: #fa755d;
}

.q-btn:disabled {
    opacity: 0.5;
    cursor: default;
}