body {
    font-family: 'Montserrat', sans-serif;
}

.create-post-wrapper, .post-question-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create-post-wrapper {
    height: 70vh;
    align-items: center;
    padding: 2.5rem;
}

.create-post-wrapper form, .post-question-wrapper textarea {
    width: 40vw;
}

.create-post-wrapper .post-title {
    font-weight: 600;
}

.post-question-wrapper textarea {
    resize: none;
}

.question-child {
    margin-top: 10px;
}

.q-title {
    padding: 0.5rem;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

.q-text {
    width: 40%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

.q-btn {
    font: inherit;
    border: none;
    background-color: #f36e54;
    padding: 0.75rem;
    border-radius: 2rem;
    color: white;
    width: 100px;
    cursor: pointer;
    transition: 0.3s ease;
}

.q-btn:hover:enabled {
    background-color: #e75b42;
}

.q-btn:disabled {
    opacity: 0.5;
    cursor: default;
}