* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #FD7962;
    --primary-color-alt: #F36E54;
    --secondary-color: #FFF;
    --default-black: #000;
    --comment-background-color: #F3F1F1;
    --answer-check-mark-color: #008000;
    --comment-box-color: #CCC;
    --comment-box-border-color: #F8F8F8;
}

body {
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style: none;
    padding: 0.5rem;
}

a {
    text-decoration: none;
}

.body-wrapper {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.body-wrapper-child {
    width: 50vw;
}

.complete-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 0 0 2rem;
    width: 100%;
    padding: 1.25rem;
    border-radius: 0.25rem;
}

.post-container > img {
    width: 60%;
}

.post-card-container {
    width: 100%;
    display: flex;
}

.vote-icons {
    text-align: center;
}

.vote-btn {
    color: var(--secondary-color);
    cursor: pointer;
    font: inherit;
}

.vote-btn:hover {
    color: var(--default-black);
}

.vote-thumbs {
    font-size: 1.35rem;
}

.post {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    width: 100%;
}

.post-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-child {
    margin: 5px;
}

.post-title {
    font-weight: bold;
    font-size: 1.2rem;
}

.dropdown {
    display: flex;
    flex-direction: row;
    position: relative;
}

.dropdown-three-dot {
    border: none;
    background: none;
    color: var(--secondary-color);
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 5px;
    height: fit-content;
}

.dropdown > .dropdown-three-dot:focus,
.dropdown-three-dot:hover {
    background-color: var(--primary-color-alt);
    transition: background-color 100ms linear;
}

.dropdown-three-dot i {
    font-size: 20px;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    margin-left: 50px;
    opacity: 0;
    pointer-events: none;
    transform: translateX(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    background-color: var(--primary-color);
    border-radius: 1rem;
    border: 2.5px solid var(--primary-color-alt);
}

.dropdown > .dropdown-three-dot:focus + .dropdown-menu {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}

.three-dot-btns {
    color: var(--secondary-color);
    font: inherit;
    font-size: 14px;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    width: 6rem;
    padding: 10px;
    border-radius: 1rem;
}

.three-dot-btns:hover {
    background-color: var(--primary-color-alt);
}

.three-dot-btns:disabled {
    background-color: var(--primary-color-alt);
    cursor: auto;
}

.three-dot-btn-icons {
    margin-right: 5px;
}

.post-content {
    font-size: 14px;
}

.post-extras {
    display: flex;
    align-items: center;
}

.poster-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
}

.comment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0.75rem;
}

.comment-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 0.5rem;
    border-left: 5px solid var(--comment-box-color);
}

.comment-time {
    font-size: 13px;
}

.commentor {
    display: flex;
    justify-content: space-between;
}

.comment-author {
    font-weight: 600;
    font-size: 15px;
    width: 60%;
    word-wrap: break-word;
}

.comment-content-child {
    margin: 5px;
}

.comment-btns > button {
    cursor: pointer;
    font: inherit;
    font-size: 0.8rem;
    margin-bottom: 0;
    border: none;
    border-radius: 5px;
    background: none;
    padding: 0.35rem;
    color: rgb(105, 105, 105);
}

.comment-btns > button:hover {
    background-color: var(--primary-color-alt);
    color: var(--comment-background-color);
    transition: background-color 100ms linear;
}

.comment-text {
    font-size: 14px;
}

.comment-box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mark-as-fixed, .mark-as-answer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.mark-as-answer i {
    color: var(--answer-check-mark-color);
}

.mark-as-fixed div, .mark-as-answer div {
    font-weight: 800;
    margin-left: 10px;
}

.comment-box {
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid var(--comment-box-color);
    border-radius: 4px;
    background-color: var(--comment-box-border-color);
    margin-bottom: 0.5rem;
    resize: none;
}

.comment-box-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.post-comment-btn {
    width: 5rem;
    padding: 0.6rem;
    margin-bottom: 1rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 0.5rem;
    cursor: pointer;
}

.post-comment-btn:hover {
    background-color: var(--primary-color-alt);
    transition: background-color 100ms linear;
}

.post-delete-btn {
    margin: 20px 0 0;
}

.mark-ans-btn {
    width: fit-content;
}