* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

main {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
    padding: 0.5rem;
}

a {
    text-decoration: none;
}

.complete-post {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 20px; */
}

.post-container {
    display: flex;
    align-items: baseline;
    background-color: rgb(243, 241, 241);
    margin: 0 0 2rem;
    width: 70vw;
    padding: 1rem;
    border-radius: 0.75rem;
}

.vote {
    text-align: center;
}

.vote-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    align-items: center;
}

.vote-icon {
    color: black;
    font-size: 1.35rem;
}

.fa-thumbs-up:hover {
    color: #f36e54;
}

.fa-thumbs-down:hover {
    color: #1b18dd;
}

.post {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    width: 100%;
}

.post-child {
    margin: 5px;
}

.post-title {
    font-weight: bold;
    font-size: 1.2rem;
}

.post-content {
    font-size: 14px;
}

.post-extras {
    display: flex;
    align-items: center;
}

.comment {
    background-color: #f36e54;
    width: fit-content;
    padding: 0.4rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease 0s;
}

.comment:hover {
    background-color: #e75b42;
}

.comment-link {
    display: flex;
    padding: 0.25rem;
}

.comment-text {
    font-size: 12px;
    margin-left: 10px;
}


.comment-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.poster-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    /* margin-left: 10px; */
}

.comment-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 0 0 0.75rem;
}

.comment-content {
    display: flex;
    flex-direction: column;
    width: 70vw;
    padding: 2.5rem;
    background-color: rgb(243, 241, 241);
    border-radius: 0.75rem;
}

.comment-time {
    font-size: 13px;
}

.commentor {
    display: flex;
    justify-content: space-between;
}

.comment-author {
    font-weight: bold;
    font-size: 15px;
}

.comment-content-child {
    margin: 5px;
}

.comment-text {
    font-size: 14px;
}