<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ===== SWEET ALERTS 2 ===== -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.all.min.js"></script>

    <!-- ===== CSS ===== -->
    {% load static %}
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/loginSignup.css' %}">

    <title>{% block title %}{% endblock title %}</title>
    {% block link %}{% endblock link %}
</head>

<body>

    {% block body %}
    {% endblock body %}

    <!--===== JS =====-->
    <script src="{% static 'js/loginSignup.js' %}"></script>

</body>

</html>