{% extends 'base.html' %}

{% block title %}CGU | Forum{% endblock title %}

{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock link %}

{% block body %}

<main>
    <div class="body-wrapper">

        <div class="posts-wrapper">
            <div class="complete-posts-wrapper">
                <div class="search-bar">
                    <input type="text" name="search-bar" id="search-bar" placeholder="Search">
                    <button class="search-btn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
                {% for item,name,vote in postNameMix %}
                <div class="complete-post">
                    <div class="post-container">
                        <div class="vote">
                            <ul class="vote-icons">
                                <li>
                                    <form action="/addLike" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="qID" value="{{item.qID}}">
                                        <button class="vote-btn" {% if not request.session.log %}disabled{% endif %}>
                                            <i class="vote-icon fa-regular fa-thumbs-up"></i>
                                            <!-- {{item.likeCount}} -->
                                        </button>
                                    </form>
                                </li>
                                <li class="vote-count">{{vote}}</li>
                                <li>
                                    <form action="/addDisLike" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="qID" value="{{item.qID}}">
                                        <button class="vote-btn" {% if not request.session.log %}disabled{% endif %}>
                                            <i class="vote-icon fa-regular fa-thumbs-down"></i>
                                            <!-- {{item.disLikeCount}} -->
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>

                        <div class="post">
                            <div class="post-child post-title">
                                <a href="/postView/{{item.qID}}">{{item.title}}</a>
                                <span>{{item.category}}</span>
                            </div>
                            <!-- <div class="post-child post-content">
                                {{item.about}}
                            </div> -->
                            <div class="post-child post-extras">
                                <div class="comment">
                                    <a class="comment-link" href="/postView/{{item.qID}}">
                                        <i class="comment-icon fa-regular fa-message"></i>
                                        <span class="comment-text">{{item.comments}}</span>
                                    </a>
                                </div>

                                <div class="poster-container">
                                    <span class="poster">
                                        by {{name}}
                                        {% comment %} <span class="badge badge-student">👩‍🎓</span> {% endcomment %}
                                        <!-- <span class="badge badge-teacher">👩‍🏫</span> -->
                                    </span>
                                    <span class="post-time">On {{item.dateTimeOfPost}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- <div class="side-content">
                <ul>
                    <li>category</li>
                    <li>category</li>
                    <li>category</li>
                    <li>category</li>
                </ul>
            </div> -->
        </div>
    </div>


    <button class="post-fab" onclick="window.location.href='/postQuestion'">
        <div class="fab-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chat-left-text" viewBox="0 0 16 16">
                <path
                    d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                <path
                    d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
            </svg>
            <span>Add Post</span>
        </div>
    </button>
</main>

{% endblock body %}