{% extends 'base.html' %}

{% block title %}CGU | Forum{% endblock title %}

{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock link %}

{% block body %}

<main>
    {% for item,name in postNameMix %}
    <div class="complete-post">
        <div class="post-container">
            <div class="vote">
                <ul class="vote-icons">
                    <li>
                        <form action="/addLike" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="qID" value="{{item.qID}}">
                            <button>
                                <i class="vote-icon fa-regular fa-thumbs-up"> {{item.likeCount}}</i>
                            </button>
                        </form>
                    </li>
                    <li>Vote</li>
                    <li>
                        <form action="/addDisLike" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="qID" value="{{item.qID}}">
                            <button>
                                <i class="vote-icon fa-regular fa-thumbs-down"> {{item.disLikeCount}}</i>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>

            <div class="post">
                <div class="post-child post-title">{{item.title}}</div>
                <div class="post-child post-content">
                    {{item.about}}
                </div>
                <div class="post-child post-extras">
                    <div class="comment">
                        <a class="comment-link" href="">
                            <i class="comment-icon fa-regular fa-message"></i>
                            <span class="comment-text">{{item.comments}}</span>
                        </a>
                    </div>

                    <div class="poster-container">
                        <span class="poster">
                            by {{name}}
                            {% comment %} <span class="badge badge-student">👩‍🎓</span> {% endcomment %}
                            <!-- <span class="badge badge-teacher">👩‍🏫</span> -->
                        </span>
                        <span class="post-time">On {{item.dateTimeOfPost}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</main>

{% endblock body %}