{% extends 'base.html' %}

{% block title %}CVR | 👋{% endblock title %}

{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/loginSignup.css' %}">
{% endblock link %}


{% block body %}

<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="#">
                <h1>Create Account</h1>
                <div class="acc-radio">
                    <div class="acc">
                        <input class="radio-btn" type="radio" name="acc-type" id="student">
                        <label for="student">Student</label>
                    </div>
                    <div class="acc">
                        <input class="radio-btn" type="radio" name="acc-type" id="teacher">
                        <label for="teacher">Teacher</label>
                    </div>
                </div>
                <input type="text" placeholder="Name" />
                <div class="mail-wrapper">
                    <input class="form-mail" type="number" placeholder="Reg.No" />
                    <span>@cgu-odisha.ac.in</span>
                </div>
                <input type="password" placeholder="Password" />
                <input type="password" placeholder="Confirm Password" />
                <button>Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="#">
                <h1>Sign in</h1>
                <div class="mail-wrapper">
                    <input class="form-mail" type="number" placeholder="Reg.No" />
                    <span>@cgu-odisha.ac.in</span>
                </div>
                <input type="password" placeholder="Password" />
                <button>Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Have an account?</h1>
                    <p>Let's go back and sign in.</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello there! 👋</h1>
                    <p>Don't have an account? Let's create one for you.</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock body %}