<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/loginSignup.css' %}">
    <title>CGU | 👋</title>
</head>

<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form method="POST" action="/signup">
                {% csrf_token %}
                <h1>Create Account</h1>
                <div class="acc-radio">
                    <div class="acc">
                        <input class="radio-btn" type="radio" name="acc-type" value="student" id="student" required
                            onclick="signupType()">
                        <label for="student">Student</label>
                    </div>
                    <div class="acc">
                        <input class="radio-btn" type="radio" name="acc-type" value="teacher" id="teacher" required
                            onclick="signupType()">
                        <label for="teacher">Teacher</label>
                    </div>
                </div>
                <input type="text" placeholder="Name" name="name" required />
                <div class="mail-wrapper">
                    <input class="form-mail" type="number" placeholder="Reg.No" id="uId" name="mail" required />
                    <span>@cgu-odisha.ac.in</span>
                </div>
                <input type="password" placeholder="Password" name="password" required />
                <input type="password" placeholder="Confirm Password" name="conPassword" required />
                <button>Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form method="POST" action="/login">
                {% csrf_token %}
                <h1>Sign in</h1>
                <div class="acc-radio">
                    <div class="acc">
                        <input class="radio-btn" type="radio" name="acc-type" value="student" id="lStudent" required
                            onclick="loginType()">
                        <label for="lStudent">Student</label>
                    </div>
                    <div class="acc">
                        <input class="radio-btn" type="radio" name="acc-type" value="teacher" id="lTeacher" required
                            onclick="loginType()">
                        <label for="lTeacher">Teacher</label>
                    </div>
                </div>
                <div class="mail-wrapper">
                    <input class="form-mail" type="number" placeholder="Reg.No" id="mail" name="mail" required />
                    <span>@cgu-odisha.ac.in</span>
                </div>
                <input type="password" placeholder="Password" name="password" required />
                <button>Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Have an account?</h1>
                    <p>Let's go back and sign in.</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello there! 👋</h1>
                    <p>Don't have an account? Let's create one for you.</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/signup.js' %}"></script>
    <script src="{% static 'js/loginSignup.js' %}"></script>
</body>

</html>