{% extends 'base.html' %}

{% block title %}Add New Post{% endblock title %}

{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/postQuestion.css' %}">
{% endblock link %}

{% block body %}
<div class="create-post-wrapper">
    <div class="post-title">
        Create a Post
    </div>
    <form action="/postQuestion" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="post-question-wrapper" id="inputDiv">
            <input type="hidden" name="type" value="{{type}}">
            <input type="hidden" name="id" value="{{id}}">
            <select id="branch" name="branch" required>
                <option value="" hidden>Category</option>
                <option value="Category">Category</option>
                <option value="Category">Category</option>
            </select>
            <input class="question-child q-title" type="text" name="title" id="title" placeholder="Post Title"
                value="{{title}}" required>
            <textarea class="question-child q-text" name="about" id="about" cols="30" rows="10" placeholder="Content"
                required>{{about}}</textarea>

            <!-- image part -->
            <div class="image-upload">
                <div class="image-upload-confirmation">
                    <input type="checkbox" name="isImage" id="isImage">
                    <label for="isImage">Upload Image (Optional)</label>
                </div>
            </div>

            <div class="post-btns">
                <div class="imageInput" id="imageInput"></div>
                <button class="q-btn" type="submit" id="submitButton">{{buttonName}}</button>
            </div>
        </div>
    </form>
</div>

{% if isEdit %}
<script src="{% static 'js/postUpdate.js' %}"></script>
{% endif %}
<script src="{% static 'js/postQuestion.js' %}"></script>

{% endblock body %}