{% extends 'base.html' %}

{% block title %}Profile{% endblock title %}

{% block body %}
<!-- <br> <br> <br>
<h1>Name:- {{user.name}}</h1>
<h2>Email:- {{user.regNumber}}@cgu-odisha.ac.in</h2>
<h2>Reg Number:- {{user.regNumber}}</h2>
<h2>Branch:- {{user.branch}}</h2>
<h2>Date & time of join:- {{user.dateTimeOfJoin}}</h2>
<h2>Total Question Posted:- {{totalQuestions}}</h2>
{% if totalQuestions > 0 %}
<h1><u>Post List</u></h1>
{% for item in questionList %}
<h2>{{item.title}}</h2>
{% endfor %}
{% endif %} -->
{% load static %}
<div class="profile">
    <div class="profile-about">
        <h1 class="profile-name">Name</h1>
        <ul class="profile-meta">
            <li class="profile-meta-item">
                <i class="fa-solid fa-message"></i>
            </li>
            <li class="profile-meta-item">
                <i class="fa-solid fa-newspaper"></i>
            </li>
        </ul>
    </div>
    {% if not user.isVerified %}
    <button id="verifyBtn">Verify now</button>
    <form action="" method="post" id="verifyForm">
        {% csrf_token %}
        <input type="text" name="" id="">
        <button>Verify</button>
    </form>
    <script src="{% static 'js/profile.js' %}"></script>
    {% endif %}
</div>

{% endblock body %}