{% extends 'base.html' %}

{% block title %}Signup{% endblock title %}

{% block body %}
<div class="form">
    <form action="/signup" method="POST">
        {% csrf_token %}
        <div id="userType">
            <input type="radio" name="type" id="teacher" value="teacher" required onclick="typeCheck()">
            <label for="teacher">Teacher</label>
            <input type="radio" name="type" id="student" value="student" required checked onclick="typeCheck()">
            <label for="student">student</label>
        </div>
        <div>
            <input type="text" name="name" id="name" placeholder="Enter name">
        </div>
        <div>
            <input type="number" name="uId" id="uId" placeholder="Registration Number">@cgu.in
        </div>
        <div>
            Other Data (TODO)
        </div>
        <div id="pass" onkeyup="passCheck()">
            <input type="password" name="password" id="password" placeholder="Password" required>
            <input type="password" name="password" id="conPassword" placeholder="Confirm Password" required disabled>
            <label for="conPassword" style="color: red; display: none;" id="passMsg">Password & Confirm password not
                macthed</label>
        </div>
        <div>
            <button type="submit" id="submitBtn" style="cursor: pointer;">Submit</button>
        </div>
    </form>
</div>
{% load static %}
<script src="{% static 'js/signup.js' %}"></script>
{% endblock body %}